{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Upspring Hosting plugin for Craft CMS 5.x
 *
 * Upspring Hosting index.twig
 *
 * @author    Upspring
 * @copyright Copyright (c) 2021 Upspring
 * @link      https://upspringdigital.com/
 * @package   UpspringHosting
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("upspring\\upspringhosting\\assetbundles\\upspringhosting\\UpspringHostingAsset") %}
{% do view.registerAssetBundle("upspring\\upspringhosting\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{# {% set docsUrl = "???" %} #}

{# The title of this CP section #}
{% set title = "Upspring Hosting" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('upspring-hosting') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@upspring/upspringhosting/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
	<div class="buttons"> <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('upspring-hosting') }}</a>
</div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
<h2>{{ "Index CP Section body goes here"|t('upspring-hosting') }}</h2>
<img src="{{ iconUrl }}" height="64" width="64"/>
<p class="textline"></p>
{% endset %}
