{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Upspring Hosting plugin for Craft CMS
 *
 * UpspringHostingWidget Widget Settings
 *
 * @author    Upspring
 * @copyright Copyright (c) 2021 Upspring
 * @link      https://upspringdigital.com/
 * @package   UpspringHosting
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("upspring\\upspringhosting\\assetbundles\\upspringhosting\\UpspringHostingAsset") %}

{{ forms.textField({
    label: 'Message',
    instructions: 'Enter a message here.',
    id: 'message',
    name: 'message',
    value: widget['message']})
}}
