{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Upspring Hosting plugin for Craft CMS
 *
 * UpspringHostingWidget Widget Body
 *
 * @author    Upspring
 * @copyright Copyright (c) 2021 Upspring
 * @link      https://upspringdigital.com/
 * @package   UpspringHosting
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@upspring/upspringhosting/assetbundles/upspringhostingwidgetwidget/dist', true) ~ '/img/UpspringHostingWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
