{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Upspring Hosting plugin for Craft CMS
 *
 * UpspringHostingUtility Utility Content
 *
 * @author    Upspring
 * @copyright Copyright (c) 2021 Upspring
 * @link      https://upspringdigital.com/
 * @package   UpspringHosting
 * @since     1.0.0
 */
#}

<h1>UpspringHostingUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@upspring/upspringhosting/assetbundles/upspringhostingutilityutility/dist', true) ~ '/img/UpspringHostingUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>